h2 {
    text-shadow: 0px 1px;
    text-align: center;
    padding-bottom: 20px;
}

.profilepic {
    height : 100px;
    width : 80px;
}

#login {
    border: solid gray 1px;
    background: white;
    width: 30%;
    border-radius: 5px;
    margin: 100px auto;
}

#Welcome {
    border: solid gray 1px;
    background: white;
    width: 30%;
    border-radius: 5px;
    margin: 100px auto;
}

.content-1 {
    border: solid gray 1px;
    background: white;
    width: 30%;
    border-radius: 5px;
    margin: 100px auto;
}
input[type=submit], input[type=button] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 22px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

input[type=submit]:hover, input[type=button]:hover  {
    background-color: #57e047;
}


.form {
    padding-left: 80px;
}

.required {
    color: red;
}
.data-table {
    border-collapse: collapse;
    font-size: 14px;
    min-width: 537px;
}

.data-table th,
.data-table td {
    border: 1px solid #e1edff;
    padding: 7px 17px;
}
.data-table caption {
    margin: 7px;
}

/* Table Header */
.data-table thead th {
    background-color: #508abb;
    color: #FFFFFF;
    border-color: #6ea1cc !important;
    text-transform: uppercase;
}

/* Table Body */
.data-table tbody td {
    color: #353535;
}
.data-table tbody td:first-child,
.data-table tbody td:nth-child(4),
.data-table tbody td:last-child {
    text-align: right;
}

.data-table tbody tr:nth-child(odd) td {
    background-color: #f4fbff;
}
.data-table tbody tr:hover td {
    background-color: #ffffa2;
    border-color: #ffff0f;
}

/* Table Footer */
.data-table tfoot th {
    background-color: #e5f5ff;
    text-align: right;
}
.data-table tfoot th:first-child {
    text-align: left;
}
.data-table tbody td:empty
{
    background-color: #ffcccc;
}
#tab {
    margin-left: 280px;
    margin-bottom: 10px;
}

#tab-1 {
	margin-left: 100px;
	margin-bottom:10px;
}

#tab-2 {
	margin-left: 200px;
	margin-bottom:10px;
}

#gallery{
	margin-left: 70px;
	margin-right:70px;
}